@use '../../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    // padding: 0 15px;
    display: flex;

    @include s.laptop {
    }

    @include s.tablet {
        width: var(--default-layout-width-mobile);
    }

    @include s.mobile {
        width: var(--default-layout-width-mobile);
    }
}

.content {
    flex: 1;
}
